## Set

Create a Set:

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

## Duplicates Not Allowed

Duplicate values will be ignored:

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

True and 1 is considered the same value:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

False and 0 is considered the same value:

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

## Get the Length of a Set

Get the number of items in a set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

## Set Items - Data Types

String, int and boolean data types:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set with strings, integers and boolean values:

## type()

What is the data type of a set?

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

## The set() Constructor

Using the set() constructor to make a set:

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)