## Tuple

Create a Tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

## Allow Duplicates

Tuples allow duplicate values:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

## Tuple Length

Print the number of items in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

## Create Tuple With One Item

One item tuple, remember the comma:

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

## Tuple Items - Data Types

String, int and boolean data types:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple with strings, integers and boolean values:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

## type()

What is the data type of a tuple?

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

## The tuple() Constructor

Using the tuple() method to make a tuple:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)